[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2020-08-10 17:11:28.823189
archetypes.schemaextender = 3.0.0
collective.watcherlist = 3.1.0
createcoverage = 1.5
entrypoints = 0.3
flake8 = 3.7.9
mccabe = 0.6.1
pathtools = 0.1.2
plone.recipe.codeanalysis = 3.0.1
prompt-toolkit = 1.0.18
pycodestyle = 2.5.0
pyflakes = 2.1.1
watchdog = 0.10.2

# Required by:
# Products.PloneTestCase==0.9.18
Products.ATContentTypes = 3.0.3

# Required by:
# Products.ATContentTypes==3.0.3
# plone.app.imaging==2.1.0
Products.Archetypes = 1.16.1

# Required by:
# Products.ATContentTypes==3.0.3
# plone.app.collection==1.2.8
Products.validation = 2.1.3

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.42

# Required by:
# Products.Poi==4.1.dev0
collective.dexteritytextindexer = 2.4.0

# Required by:
# check-manifest==0.42
pep517 = 0.8.2

# Required by:
# Products.ATContentTypes==3.0.3
plone.app.blob = 1.8.0

# Required by:
# Products.ATContentTypes==3.0.3
plone.app.collection = 1.2.8

# Required by:
# Products.ATContentTypes==3.0.3
plone.app.imaging = 2.1.0

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.1.9
